<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FLIPKART">
  <test thread-count="5" name="REGRESSION TEST">
   <parameter name="username" value="testuser_1" />
   <parameter name="password" value="123" />
    <classes>
      <class name="testSuite.TestngParameters"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
